* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.menu {
  background-color: rgb(9, 16, 29);
}

.menu .logo {
  padding-top: 30px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.menu .logo img {
  border: 4px solid rgb(164, 179, 185);
  padding: 10px 10px;
  width: 150px;
  margin: 7px 0;
  box-sizing: border-box;
}

.container-menu {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  text-align: center;
}
.blog {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}
.menu ul li {
  padding: 8px;
}
.primeiro,
.segundo {
  display: flex;

  width: 100%;
  justify-content: center;
}
.menu ul li a {
  display: inline-block;
  width: 90px;
  text-emphasis: none;
  text-align: center;
  color: rgb(195, 203, 220);
  border: 4px solid rgb(164, 179, 185);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px 15px;
}
.menu ul li a:hover {
  transition: 0.2s;
  border: 4px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

/* ====================header============= */

.container {
  width: 100%;
  background-image: url(../imagens/truck-1030846.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.conteudo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8% 0 20% 0;
}
hr {
  width: 100%;
  max-width: 60px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  box-sizing: border-box;

  margin: 15px 0 10px 0;
  border-radius: 10px;
}
.conteudo-container h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  line-height: 45px;
  font-weight: 900;
 
}
.conteudo-container p {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  max-width: 300px;
  font-style: italic;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.138);
}
.conteudo-container h3 {
  color: white;
  font-weight: bold;
  margin: 2px 0 0px 0;
  font-size: 13px;
  letter-spacing: 2px;
}
button {
  margin-top: 10%;
  border: 3px solid #fec63e;
  padding: 8px 30px;
  background-color: transparent;
}
a button {
  color: #fec63e;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  text-emphasis: none;
  font-weight: bold;
  letter-spacing: 1px;
}
button:hover {
  border: 3px solid rgb(255, 255, 255);
  cursor: pointer;
}
a button:hover {
  color: white;
}
/* =================main/section============ */
.produtos {
  width: 100%;
  text-align: center;
}
.produtos h1 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 25px;
  font-weight: 900;
  line-height: 20px;
  color: black;
  padding-top: 10vh;
}
.produtos hr {
  width: 50%;
  height: 5px;
  text-align: center;
  background-color: black;
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 10%;
}
.container-final ul {
  width: 100%;

  max-width: 90%;
}
ul li {
  padding-bottom:8%;
}

.imagem-1,.imagem-2,.imagem-3
{
  margin-top: 8%;
}

.blocosflex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
 
}
.imagem-1 {
  
  width: 100%;
  height: 25vh;
  background-image: url(../imagens/pretocaminhao.png);
  background-position: center;
  background-size: 220px;
  background-repeat: no-repeat;
  background-color: rgb(221, 223, 250);
}
.imagem-2 {
  width: 100%;
  height: 25vh;
  background-image: url(../imagens/caminhaologo.png);
  background-position: center;
  background-size: 150px;
  background-repeat: no-repeat;
  background-color: rgb(221, 223, 250);
}
.imagem-3 {
  width: 100%;
  height: 25vh;
  background-image: url(../imagens/caminhao.png);
  background-position: center;
  background-size: 280px;
  background-repeat: no-repeat;
  background-color: rgb(221, 223, 250);
}
.content {
  width: 100%;
  background-color: #000000;
}
.content h3 {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  padding-top: 8%;
}
.content hr {
  width: 50%;
  height: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;

  margin-top: 1vh;
}
.content p {
  width: 100%;
  max-width: 80%;
  font-size: 13px;
 
  text-align: center;
  padding-top: 4%;
  margin: 0 auto;
  padding-bottom: 4%;
}
.blocosflex p {
  padding-top: 4%;
  color: rgb(255, 255, 255);
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
}

.blocosflex p:nth-last-child(2)
{
  color: #000000;
}
.blocosflex > a button {
  color: rgb(0, 0, 0);
  border: 4px solid rgb(0, 0, 0);
}
.blocosflex a {
  padding-bottom: 12%;
}
.blocosflex > a button:hover {
  color: rgb(158, 158, 158);
  border: 4px solid rgb(141, 141, 141);
}

/* =====================Portfolio================== */

.Portifolio {
  background-color: rgb(9, 16, 29);
}
.Portifolio h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0 0px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
}
.Portifolio hr {
  width: 50%;
  height: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 2vh;
  margin-bottom: 4vh;
}
.galeria {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.galeria > .primeiro-bloco,
.segundo-bloco {
  width: 300px;
  height: 180px;
  margin: 2%;
  background-image: url(../imagens/caminhaolongo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.segundo-bloco {
  background-image: url(../imagens/caminhaoamarelo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.galeria > .terceiro-bloco {
  width: 300px;
  height: 90px;
  margin: 2%;
  background-image: url(../imagens/varioscaminhao.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.galeria p {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-top: 5%;
}
.galeria button {
  margin-top: 5%;
  border: 4px solid rgb(119, 119, 119);
  padding: 5px 17px;
  background-color: transparent;
  margin-bottom: 5%;
}
.galeria a button {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  text-emphasis: none;
  font-weight: bold;
}
.galeria > a button:hover {
  color: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
}
.Portifolio a {
  padding-bottom: 5%;
}
/* ===================QUALIDADE======================== */

.qualidade{
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10% 0 0 0;
}

.qualidade .logo {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.qualidade .logo img {
  border: 8px solid rgb(0, 0, 0);
  padding: 10px 10px;
  width: 200px;
  height: 123px;
  margin: 5px 0;
  box-sizing: border-box;
}
.qualidade h1{
  margin-top: 1vh;
width: 100%;
  text-align: center;
  padding: 20px 0 0px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
}
.qualidade hr{
  width: 100%;
  max-width: 60px;
  height: 4px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  margin-top: 1vh;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
}
.texto-qualidade{
  display: flex;
  flex-direction: column;
  padding: 5% 10% 9% 10%;
}
.texto h1{
  width: 100%;
  text-align: center;
  padding: 20px 0 0px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
}
.texto hr{
  width: 100%;
  max-width: 60px;
  height: 4px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 1px solid black;
}
.texto p {
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 20px;
}
.sub-texto{
  margin-top: 10%;
  text-align: center;
  
}
.sub-texto p
{
  font-weight: bold;
}
.sub-texto button {
  margin-top: 4%;
  border: 3px solid #000000;
  padding: 8px 30px;
  color: #000000;
  background-color: transparent;
}


.sub-texto button:hover
{
  color: rgb(0, 89, 255);
  
}


/* ======================antes do footer=============== */


.container-frase
{
  background-image: url(../imagens/estrada.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  
}

.frase
{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 90%;
}

.frase hr
{
margin-top:7vh ;
}
.frase hr:nth-last-of-type(1)
{
margin-top:4%;
}
.frase p
{
  color: white;
  text-align: center;

  font-size: 14px;
  line-height: 20px;
  margin-top: 1%;
  font-style: italic;
  
  background-color: rgba(0, 0, 0, 0.323);
 
}

.frase h3{
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
    color: white;
    margin-bottom: 7vh;
}

/* ==================historia/contato/redes============ */

.container-final
{
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
.container-final h3
{
  font-size: 18px;
  line-height: 25px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}
.container-final p{
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin-bottom: 5%;
}

ul{
  margin-bottom: 5%;
}
ul li{

  padding: 1px;
  list-style: none;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 14px;
  line-height: 20px;
  color: white;

}
.container-final a{
  text-decoration: none;
  color: white;
  padding-right: 20px;

  
}

.container-final hr{
 margin-top: 4%;
}

.container-final a:hover
{
  color: yellow;
}
.container-final i{
  display: flex;
  justify-content: center;
  border: 3px solid rgb(255, 255, 255);
  width: 50px;
height: 50px;
align-items: center;
  font-size: 40px;

  
}
.container-final .center
{
  display: flex;
  margin-top:5%;
  margin-bottom: 5%;
 
 
}

.container-final .center .lado
{
  padding-right: 15px;
}


footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
 
  background-color: rgb(9, 16, 29);
}

footer .fim p
{
  padding: 20px;
 text-align: center;
  
color: white;


list-style: none;
font-family: Georgia, "Times New Roman", serif;
font-size: 14px;
line-height: 20px;

}

.fim a{
  color: #fec63e;

}